<!DOCTYPE html>
<html
  lang={Gettext.get_locale(PhoenixDemoWeb.Gettext)}
  class="[scrollbar-gutter:stable]"
  data-theme="bumblebee"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="stripe-public" content={get_stripe_public()} />
    <meta
      name="description"
      content={
        gettext("ACG Micro - Piezas y componentes de electrónica. Especialistas en Apple.")
      }
    />
    <.live_title suffix=" · Electronic and Computer Parts">
      <%= assigns[:page_title] || "ACG Micro" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer src="https://js.stripe.com/v3/" type="text/javascript">
    </script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
